body {
  margin: 0px;
}

h1, p {
  text-align: center;
}

p {
  margin-left: 10%;
  margin-right: 10%;
}

pre {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  background-color: #000;
  color: #0f0;
}
